@import "tailwindcss";

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0F172A; /* dark background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #38BDF8; /* accent blue */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #60A5FA;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #38BDF8 #0F172A;
}